{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div id="content">
        {% if user %}
        <form method="post" action="/add_rap">
            <fieldset>
              <legend>Add New Rap</legend>
              <input type="text" placeholder="The coolest name ever!" name='rap'><br>
              <label for="rap length">Total Rap Line Number</label>
              <select name="rap_length" class="form-control">
                <option>16</option>
                <option>32</option>
                <option>64</option>
                <option>128</option>
              </select>     
              <button type="submit" class="btn">Submit</button>
            </fieldset>
        </form>
        {% else %}
        <div id="login">
          <div class="jumbotron">
            <div class="container">
              <h1>Welcome to RapGenii</h1>
              <p>RapGenii is all about working together to create awesome rap lyrics. Login with Facebook to get started!</p>
              <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login with Facebook &raquo;</a></p>
            </div>
          </div>
        </div>
        {% endif %}
        <hr>
        <div class="row">
          <div class="span4 ">
            <h2>Ongoing Raps</h2>
            {% for rap in unfinRaps %}
            <a href="{{ url_for('show_rap', rapID = rap.id) }}">{{ rap.title }}:{{rap.progress}}/{{rap.max_length}}</a><br>
            {% endfor %}
          </div>
      </div>
      <div class="row">
        <h1><b>Finished Raps</b></h1>
        {% for rap in finRaps %}
          <div class="col-md-4">
            <a href="{{ url_for('show_rap', rapID = rap.id) }}">{{ rap.title }}</a><br>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block js %}

{% endblock %}
