{% extends "base.html" %}
{% block content %}

<div class="row">

    <div id="content">
        <span data-toggle="tooltip" data-placement="right" title="Tooltip on right">hello</span>
        {% if user %}
        <h2> hello {{ user.full_name}} </h2>
        <form method="post" action="/add_rap">
            <fieldset>
              <legend>Add New Rap</legend>
              <input type="text" placeholder="The coolest name ever!" name='rap'><br>
              <button type="submit" class="btn">Submit</button>
            </fieldset>
        </form>
        {% else %}
        <div id="login">
          <div class="jumbotron">
            <div class="container">
              <h1>Welcome to RapGenii</h1>
              <p>RapGenii is all about working together to create awesome rap lyrics. Login with Facebook to get started!</p>
              <p><a class="btn btn-primary btn-lg" href="/login" role="button">Login with Facebook &raquo;</a></p>
            </div>
          </div>
        </div>
        {% endif %}
        <hr>
        <div class="row">
          <div class="span4 ">
            <h2>Ongoing Raps</h2>
            {% for rap in unfinRaps %}
                <a href="{{ url_for('show_rap', rapID = rap.id) }}">{{ rap.title }}</a><br>
            {% endfor %}
          </div>
          <div class="span4">
            <h2>Finished Raps</h2>
            {% for rap in finRaps %}
                <a href="{{ url_for('show_rap', rapID = rap.id) }}">{{ rap.title }}</a><br>
            {% endfor %}
          </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}

{% endblock %}
