{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span8 offset2">
    <div class="centered">
      <h1>{{ user.full_name }}</h1>
      <h2>Rap God Points: {{ user.rapGodPoints }}</h2>
      <div id="voting-history">
        <h2>Voting History</h2>
        <ul class="list-unstyled">
          {% if user.lines %}
            {% for line in user.lines %}
            <li>{{ user.full_name }} voted on "{{line.line1}} {{line.line2}}" in <a href="/raps/{{line.rapID}}">this rap</a>. Check it out!</li>
            {% endfor %}
          {% else %}
            <li>{{ user.full_name }} hasn't voted on anything yet! Keep hustling!</li>
          {% endif %}
        </ul>
      </div>
      <div id="contribution-history">
      <h2>Contribution History</h2>
        <ul class="list-unstyled">
          {% for l in lines %}
          <li>{{ user.full_name }} wrote "{{l.line1}} {{l.line2}}" in <a href="/raps/{{l.rapID}}">this rap</a> and it was accepted! +10! Hoorah!</li>
          {% else %}
            <li>{{ user.full_name }} hasn't contributed to a rap yet! Practice makes perfect!</li>
          {% endfor %}
        </ul>
      </div>
     <div id="pending-history">
      <h2>Pending History</h2>
        <ul class="list-unstyled">
            {% for l in pending %}
            <li>{{ user.full_name }} wrote "{{l.line1}} {{l.line2}}" in <a href="/raps/{{l.rapID}}">this rap</a> and it's pending! Vote!</li>
            {% else %}
            <li>There are no pending lines for {{ user.full_name }}. <a href="/">Check out some raps that need your contribution</a>!</li>
          {% endfor %}
        </ul>
      </div>


{% endblock %}
{% block js %}
  <script>
    //$(document).ready(mainView.init);
  </script>
{% endblock %}
