{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span8 offset2">
    <div class="centered">
      <h1>{{ user.full_name }}</h1>
      <h2>Rap God Points: {{ user.rapGodPoints }}</h2>
      <div id="voting-history">
        <h2>Voting History</h2>
        <ul class="list-unstyled">
          {% for line in user.lines %}
          <li>{{ user.full_name }} voted on "{{line.line1}} {{line.line2}}" in <a href="/raps/{{line.rapID}}">this rap</a>.</li>
          {% endfor %}
        </ul>
      </div>
      <div id="contribution-history">
      <h2>Contribution History</h2>
        <ul class="list-unstyled">
          {% for l in lines %}
          <li>{{ user.full_name }} wrote "{{l.line1}} {{l.line2}}" in <a href="/raps/{{l.rapID}}">this rap</a> and it was accepted! +10! Hoorah!</li>
          {% endfor %}
        </ul>
      </div>

{% endblock %}
{% block js %}
  <script>
    //$(document).ready(mainView.init);
  </script>
{% endblock %}
