{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="span8 offset2">
    <div class="centered">
      <h1>{{ rap.title }}</h1>
    </div>
    <div class="row">
      <div class="span4">
        <h3>Accepted Lines</h3>
      </div>
      <div class="span4">
        <h3>Pending Lines</h3>
        {% for line in lines %}
          <div class="line-container">
            <div class="votes" id="{{ line.id}} ">
              {{ line.line1 }}<br/>
              {{ line.line2 }}<br/>
              <em> Submitted by _____ ({{ line.upvotes }}, {{ line.downvotes }})</em>
              <a class="icon-arrow-up up"></a>
              <a class="icon-arrow-down down"></a>
              <br/>
            </div>
          </div>
        {% endfor %}    
        <hr>
        <form method="post" action="/add_line">
          <fieldset>
            <h4>Submit your own line</h4>
            <input type="hidden" value="{{ rap.id }}" name='rapID'><br>
            <input type="text" placeholder="Line 1" name='line1'><br>
            <input type="text" placeholder="Line 2" name='line2'><br>
            <button type="submit" class="btn">Submit</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
  <script>
    $(document).ready(rapView.init);
  </script>
{% endblock %}
