{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-6 accepted-container">
    <h1>{{ rap.title }}</h1>
    <h3>Accepted Lines</h3>
    {% for line in accepted_lines %}
      <div class="line-container">
        <div class="votes" id="{{ line.id}}">
          <span data-toggle="tooltip" data-placement="right" title="Added by {{ accepted_line_users[loop.index0][0] }}">
            {{ line.line1 }}<br/>
            {{ line.line2 }}<br/>
          </span>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="col-md-6">
    <h3>Pending Lines</h3>
    {% for line in pending_lines %}
      <div class="line-container">
        <div class="votes" id="number{{line.id}}">
          {{ line.line1 }}<br/>
          {{ line.line2 }}<br/>
          <em> Submitted by <a href="/user/{{ line_users[loop.index0][1] }}">{{ line_users[loop.index0][0] }}</a> 
          (<span class="up_count">{{ line.upvotes }}</span>, <span class="down_count">{{ line.downvotes }}</span>)</em>
          {% if user %}
            {% if already_voted[loop.index0] %}
          <i class="icon-arrow-up up voted"></i>
          <i class="icon-arrow-down down voted"></i>
            {% else %}
          <i class="icon-arrow-up up"></i>
          <i class="icon-arrow-down down"></i>
            {% endif %}
          {% endif %}
          <br/>
        </div>
      </div>
    {% endfor %}    
    <hr>
    {% if user %}
    <form method="post" action="/add_line">
      <fieldset>
        <h4>Submit your own line</h4>
        <input type="hidden" value="{{ rap.id }}" name='rapID'><br>
        <input type="text" placeholder="Line 1" name='line1'><br>
        <input type="text" placeholder="Line 2" name='line2'><br>
        <button type="submit" class="btn">Submit</button>
      </fieldset>
    </form>
    {% endif %}
  </div>
</div>


{% endblock %}
{% block js %}
  <script>
    $(document).ready(rapView.init);
  </script>
{% endblock %}
