html, body {
  height: 100%;
}

/* rap page */

.accepted-container {
  background-color: #dddddd;
}

.voted {
  color: #dddddd;
}
.up:not(.voted), .down:not(.voted) {
  cursor:pointer;
}

a.lyrics {
  cursor:pointer;
  text-decoration: none;
}

/* other */

.extra {
  padding-top: 20px;
  padding-bottom: 40px;
}

.centered {
  text-align: center;
  padding-bottom: 40px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100;
  margin: 0 auto -90px;
}

#push, #footer {
  height: 90px;
}

#footer {
  background: none;
}

.line-container {
  padding-bottom: 10px;
}

.gray {
  color: gray;
}

.red {
  color: red;
}
