html, body {
  height: 100%;
}

.navbar{
  margin: 0px;
}

.container-custom {
  padding-left: 200px;
  min-height: 100%;
  height: 100%;
}

.row {
  height: 100%;
}

.custom-input {
  width: 70%;
}

/* rap page */


.pending-container {
  background-color: #e7e7e7;
  min-height: 100%;
  height: 100%;
}

.finished-lyrics {
  font-size: 1.5em;
}

.next-line-box {
  width: 300px;
  height: 50px;
}

.voted {
  color: #dddddd;
}
.up:not(.voted), .down:not(.voted) {
  cursor:pointer;
}

a.lyrics {
  cursor:pointer;
  text-decoration: none;
}

/* other */

.extra {
  padding-top: 20px;
  padding-bottom: 40px;
}

.centered {
  text-align: center;
  padding-bottom: 40px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100;
  margin: 0 auto -90px;
}

#push, #footer {
  height: 90px;
}

#footer {
  background: none;
}

.line-container {
  padding-bottom: 3px;
}

.gray {
  color: gray;
}

.red {
  color: red;
}

