* {
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%;
}

.navbar{
  margin: 0px;
}

.container-custom {
  padding-left: 200px;
  min-height: 100% !important;
}

.row {
  height: 100%;
}

.custom-input {
  width: 70%;
}

.gold {
  color: #fcdb23 !important;
}

.see-all {
  text-align: right;
  font-size: 1.2em;
  padding-top: 20px;
  padding-right: 20px;
}


/* home page */

.rap-container {
  width: 350px;
  height: 150px;
  background-color: #f2f2f2;
  padding: 35px;
}

.rap-container a{
  font-size: 2em;
}

.rap-container a:hover{
  text-decoration: none;
}

.rap-progress {
  padding-top: 15px;
  text-align: right;
  font-size: 1.4em;
  color: #5e5e5e
}

.custom-modal-container {
  padding: 30px;
}


/* rap page */


.pending-container {
  background-color: #f2f2f2;
  height: auto;
}

.finished-lyrics {
  font-size: 1.5em;
}

.next-line-box {
  width: 500px;
  height: 75px;
  background-color: #fcdb23;
  color: #ffee8e;
  text-align: center;
  vertical-align: middle;
  font-size: 3.5em;
}

.btn-custom {
  color: white;
  background-color: #fcdb23;
  border: none;
}
.voted {
  color: #dddddd;
}
.up:not(.voted), .down:not(.voted) {
  cursor:pointer;
}

a.lyrics {
  cursor:pointer;
  text-decoration: none;
}


/* profile page */

.list-unstyled li {
  padding-bottom: 10px;
}


/* other */

.extra {
  padding-top: 20px;
  padding-bottom: 40px;
}

.centered {
  text-align: center;
  padding-bottom: 40px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100;
  margin: 0 auto -90px;
}

#push, #footer {
  height: 90px;
}

#footer {
  background: none;
}

.line-container {
  padding-bottom: 3px;
}

.pending-line-container {
  padding-bottom: 10px;
}


.gray {
  color: gray;
}

.red {
  color: red;
}

